---
interface Props {
    note: string;
}
const { note } = Astro.props;
---
<span class="tooltip-bubble tooltip-note">
    <span class="comment-name">Note:</span>
    <Fragment set:html={note}></Fragment>
</span>