---
interface Props {
    notes: string[];
}
const { notes } = Astro.props;
---
<span class="tooltip-bubble tooltip-note">
    <span class="comment-name">Notes:</span>
    {notes.map((note) => <span class="tooltip-bubble tooltip-note" set:html={note}></span>)}
</span>
