section {
    margin-bottom: 1em;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #aaa;

    @media (max-width: 7.625in) {
        padding: 0.25in;
    }
    
    @media (max-width: 4.5in) {
        padding: 0.125in;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        margin: 0;
    }
}
