@use "../layout.scss";

section.card, footer section {
    margin-bottom: 1em;
    background-color: var(--color-background);
    border-radius: 15px;
    padding: 30px;
    border: 1px solid var(--color-component-border);

    @media (max-width: $threshold-max-width) {
        padding: 0.25in;
    }
    
    @media (max-width: 4.5in) {
        padding: $horizontal-padding;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        margin: 0;
    }
}
