.containment-class {
    background-color: var(--color-component-background);
    border: 1px solid var(--color-component-border);
    color: var(--color-foreground);
    padding: 1px 8px;
    border-radius: 16px;
    display: inline-block;
    transition: 250ms;
    cursor: default;
    text-decoration: none;
    -webkit-print-color-adjust: exact; /*Chrome, Safari */
    color-adjust: exact; /*Firefox*/
    &:hover {
        background-color: var(--color-component-background-hover);
        border-color: var(--color-component-border);
    }
}

.catastrophic, .esau, .yaaqov {
    background-color: #000;
    border-color: #000;
    &:hover {
        background-color: #111;
        border-color: #000;
    }
}

.catastrophic { color: #f00; }
.esau { color: #f0f; }
.yaaqov { color: #8e7cc3; }

.apollyon {
    background-color: #f00;
    border-color: #f00;
    color: #000;
    &:hover {
        background-color: #f22;
        border-color: maroon;
    }
}

.catastrophic, .esau, .yaaqov {
    background-color: #000;
    border-color: #000;
    &:hover {
        background-color: #111;
        border-color: #000;
    }
}

.catastrophic, .esau, .yaaqov, .apollyon {
    padding: 0 0.5ch;
    border-radius: 0.5ch;
}
