@use "../layout.scss";

header {
    background-color: var(--color-banner-light);
    background:
        repeating-linear-gradient(45deg, var(--color-banner-light) 0px, var(--color-banner-light) 15px, transparent 15px 30px),
        linear-gradient(179deg, var(--color-banner-dark), var(--color-banner-light));

    transition: 200ms;

    z-index: 30;

    #banner-content {
        overflow-x: hidden;

        filter: drop-shadow(1.5px 1.5px 2px rgba(0,0,0,0.75));

        .header-logo img {
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            
            transition: 200ms;
        }
        
        /* Title */
        #banner-title {
            --banner-font-size: calc(var(--banner-height) / 2);

            color: #fff;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: var(--banner-font-size);
            font-weight: bold;
            line-height: var(--banner-font-size);
            white-space: nowrap;

            transition: 200ms;
        }
        /* Description */
        #banner-description {
            color: #aff;
            font-family: monospace;
            font-size: 10pt;
            font-weight: bold;
            white-space: nowrap;
        }
    }
    
    nav {
        background-color: var(--color-nav);
        background: var(--gradient-nav);
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);

        font-size: 16px;

        ul {
            list-style-type: none;
            overflow: hidden;
        }

        li a, li button, .dropbtn {
            color: white;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
        }

        li>a:hover, .dropdown:hover .dropbtn {
            background-color: #444;
            color: darkorange;
            border-radius: 0.5rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        li.dropdown {            
            .dropdown-content {
                background-color: #444;
                background: linear-gradient(#444, #222);
                box-shadow: 0 4px 4px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 0.6rem;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                a, button {
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                    text-align: left;
                    border-radius: 1000px;
                    &:hover {
                        background-color: darkorange;
                        color: white;
                        box-shadow: 1px 2px 2px black;
                    }
                }
            }
        }
    }
}

.h1icon {
    background-position: right;
    background-repeat: no-repeat;
    -webkit-print-color-adjust: exact; /*Chrome, Safari */
    print-color-adjust: exact; /*Firefox*/
}


@media (max-width: $threshold-max-width) {
    .card-list {
        box-shadow: none !important;
        ul {
            list-style-type: "";
        }
    }
}