---
import Document from "../../layouts/Document.astro";

---
<Document title="Info" desc="Information about the federation" addKeywords={["info","information"]}>
    <main>
        <article>
            <div id="hrgroup">
                <h1>Information</h1>
            </div>
            <ul class="list-of-cards">
                <li>
                    <a href="/about/authors/">Authors</a>
                </li>
            </ul>
            <!-- TODO: figure out more stuff to put in here -->
        </article>
    </main>
</Document>