---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Document from "../../layouts/Document.astro";

---
<Document title="About" desc="About the wiki" addKeywords={["about"]}>
    <article>
        <Breadcrumbs/>
        <div id="hrgroup">
            <h1>About</h1>
        </div>
        <ul class="list-of-cards">
            <li>
                <a href="/about/authors/">Authors</a>
            </li>
        </ul>
        <!-- TODO: figure out more stuff to put in here -->
    </article>
</Document>