---
import type { IInterviewMember } from '../../scripts';
interface Props {
    member: IInterviewMember
}
const { member } = Astro.props;
---
<p><b style={"color:" + (member.color ?? "var(--color-foreground)")}>member.name:</b>&nbsp;<slot/></p>
