---
import type { IIncidentReport } from '../../scripts';
import ReportBase from './ReportBase.astro';
interface Props {
    item: IIncidentReport;
    alwaysOpenOnSlug?: string;
}
const { item, alwaysOpenOnSlug } = Astro.props;
---
<ReportBase type='Interview Log' data={item} alwaysOpenOnSlug={alwaysOpenOnSlug}>
    <tr class="interview-body"><td>
        <b>Interviewer:</b> <slot name="interviewerName"/><br>
        <b>Subject:</b> <slot name="subjectName"/><br>
        <b>Topic:</b> <slot name="topic"/>
        <hr>
        <slot name="body"/>
    </td></tr>

    <tr><th>INTERVIEWER NOTES</th></tr>
    <tr><td class="notepad" style="border:none">
        <slot name="notes"/>
    </td></tr>
</ReportBase>
