---
import type { IInterviewLog } from '../../scripts';
import Redacted from '../typography/Redacted.astro';

interface Props {
    item: IInterviewLog
}
const { item } = Astro.props;
---
<section class="highlight-on-jump">
    <details>
        <summary class="report interview-log">
            INTERVIEW LOG {item.objectNumber ?? <Redacted>????</Redacted>} {item.instance}
        </summary>
        <table class="report interview-log">
            <tbody>
                <tr class="interview-body"><td>
                    <b>Interviewer:</b> <slot name="interviewerName"/><br>
                    <b>Subject:</b> <slot name="subjectName"/><br>
                    <b>Topic:</b> <slot name="topic"/>
                    <hr>
                    <slot name="body"/>
                </td></tr>

                <tr><th>INTERVIEWER NOTES</th></tr>
                <tr><td class="notepad" style="border:none">
                    <slot name="notes"/>
                </td></tr>
            </tbody>
        </table>
    </details>
</section>
