---
import type { ITestLog } from '../../scripts/index';

interface Props {
    item: ITestLog
}
const { item } = Astro.props;
---
<table class="report test-log" id={item.id}>
    <tbody>
        <tr>
            <th colspan="3">TEST LOG {item.objectNumber ?? <r>????</r>} {item.instance}</th>
        </tr>
        <tr>
            <td colspan="2"><b>Date:</b> {item.date ?? <r>*****</r>}</td>
            <td style="width:50%"><b>Researcher:</b> {item.rsrTitle ? (item.rsrTitle+" ") : ""}{item.researcher ?? <r>*****</r>}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Time:</b> {item.time ?? <span><r>####</r>hrs</span>}</td>
            <td><b>Object:</b> OCP-{item.object ?? <r>????</r>}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Location:</b> {item.location ?? <r>*****</r>}</td>
            <td><b>Approved By:</b> {item.aprvrTitle ? (item.aprvrTitle+" ") : ""}{item.approver ?? <r>*****</r>}</td>
        </tr>
        <tr>
            <th colspan="3">REQUEST</th>
        </tr>
        <tr>
            <td style="width:1.19in;text-align:center;font-weight:bold">Goal</td>
            <td colspan="2" set:html={item.goal ?? "n/a"}></td>
        </tr>
        <tr>
            <td style="text-align:center;font-weight:bold">Procedure</td>
            <td colspan="2" set:html={item.procedure ?? "n/a"}></td>
        </tr>
        <tr>
            <th colspan="3">REPORT</th>
        </tr>
        <tr>
            <td style="text-align:center;font-weight:bold">Results</td>
            <td colspan="2" set:html={item.results ?? "n/a"}></td>
        </tr>
        <tr>
            <td style="text-align:center;font-weight:bold">Comments</td>
            <td colspan="2" set:html={item.comments ?? ""}></td>
        </tr>
    </tbody>
</table>
