---
import type { ITestLog } from '../../scripts/index';
import OutlineAnchor from '../OutlineAnchor.astro';
import Redacted from '../typography/Redacted.astro';
import RedactedDate from '../typography/RedactedDate.astro';

interface Props {
    item: ITestLog
}
const { item } = Astro.props;
---
<OutlineAnchor hash={item.id}>
    <details>
        <summary class="report test-log">
            TEST LOG {item.objectNumber ?? <Redacted>????</Redacted>} {item.instance}
        </summary>
        <table class="report test-log" id={item.id}>
            <tbody>
                <!-- Side by side -->
                <tr>
                    <td colspan="2"><b>Date:</b> <slot name="date"><RedactedDate /></slot></td>
                    <td style="width:50%"><b>Researcher:</b> <slot name="researcher"><Redacted>*********</Redacted></slot></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Time:</b> <slot name="time"><Redacted>####</Redacted>hrs</slot></td>
                    <td><b>Object:</b> OCP-<slot name="object"><Redacted>####</Redacted></slot></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Location:</b> <slot name="location"><Redacted>???????????</Redacted></slot></td>
                    <td><b>Approved By:</b> <slot name="approver"><Redacted>**********</Redacted></slot></td>
                </tr>

                <!-- Lower section -->
                <tr><th colspan="3">REQUEST</th></tr>
                <tr>
                    <td class="test-log-label" style="width:1.19in">Goal</td>
                    <td colspan="2"><slot name="goal">n/a</slot></td>
                </tr>
                <tr>
                    <td class="test-log-label">Procedure</td>
                    <td colspan="2"><slot name="procedure">n/a</slot></td>
                </tr>

                <tr><th colspan="3">REPORT</th></tr>
                <tr>
                    <td class="test-log-label">Results</td>
                    <td colspan="2"><slot name="results">n/a</slot></td>
                </tr>
                <tr>
                    <td class="test-log-label">Comments</td>
                    <td colspan="2"><slot name="comments"></slot></td>
                </tr>
            </tbody>
        </table>
    </details>
</OutlineAnchor>
