---
import BannerRecolor from "../../../components/BannerRecolor.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Document from "../../../layouts/Document.astro";
import { CollectionEntry, getCollection } from 'astro:content';

const forceEntries: CollectionEntry<'task-forces'>[] = await getCollection('task-forces');
---
<Document title="Task Forces" desc="Mobile task forces of the OCP Federation" addKeywords={["task force","mtf"]} thumb="/thumbnail-info.png">
    <BannerRecolor containmentClass="Info"/>
    <article>
        <Breadcrumbs/>
        <div id="hrgroup">
            <h1>Information</h1>
        </div>
        {forceEntries.map(entry =>
            <a href={`/info/task-forces/${entry.slug}/`}>
                <section class="card">
                    <h2>{entry.data.name}</h2>
                    <b>{entry.data.blurb}</b>
                </section>
            </a>
        )}
    </article>
</Document>