// Comments should look similar to the comments on Google Docs
.comment {
    background-color: var(--color-comment-background);
    border: 1px solid var(--color-comment-border);
    border-radius: 2em;
    width: 100%;
    position: static;
    transition: 0.25s ease-in-out;
    overflow: clip;
    cursor: default;
    margin-block: 1em;

    &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.25);
    }

    .user {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        .icon {
            $icon-size: 24px;
            width: $icon-size;
            height: $icon-size;
            background-color: var(--color-component-background);
            border: 1px solid var(--color-component-border);
            border-radius: 999px;
            display: inline;
            margin-right: 1ch;
            transition: 0.35s;
        }
        &:hover .icon {
            background-color: var(--color-component-background-hover);
        }
        &:active .icon {
            background-color: var(--color-component-border);
        }
    }

    .context {
        font-size: 0.75em;
        color: var(--color-accent);
        display: block;
        height: fit-content;
        margin-block: 0.25em;
    }

    &>p {
        padding: 1.25em;
        margin: 0;
        transition: 0.25s ease-in-out;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-comment-border);
        }
        
        &:hover {
            background-color: var(--color-component-background-hover);
            border-color: var(--color-component-background-hover);
        }
    }
}

.update {
    background-color: var(--color-component-background);
    border: 1px solid var(--color-component-border);
    padding: 10px;
    padding-top: 0;
    border-radius: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
    h3 {
        text-align: center;
    }
}

ul.card-list {
    background-color: var(--color-background);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 20px rgba(0,0,0,0.25);
    border-radius: 2ch;
    padding: 2ch;
    list-style-position: inside;
}

.warning {
    background-color: var(--color-component-background);
    border: 2px dashed var(--color-component-border);
    font-weight: bold;
    font-family: Courier;
    text-align: center;
    padding: 2ch 0;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
    span {
        font-size: 24px;
    }
}

.stamp-of-incompletion {
    color: white;
    background-color: red;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0.25in 0;
}

@media print {
    .card-list {
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 7.625in) {
    .card-list {
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
        ul {
            list-style-type: "";
        }
        li {
            margin-bottom: 0.5rem;
        }
    }
}

.author-card {
    position: relative;
    top: 0;
    overflow: hidden;
    padding: unset;
    padding-left: 96px;
    height: 64px;
    img {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
    }
    .text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(80px, -50%);
        h2 {
            color: var(--color-accent);
            font-weight: bold;
        }
    }
}

section.highlight-on-jump:target {
    box-shadow: none;
    animation: glow 2s;
    @keyframes glow {
        from {
            background-color: var(--color-tooltip-highlight);
            box-shadow: 0 0 20px 3px var(--color-tooltip-highlight);
        }
        to {
            background-color: transparent;
            box-shadow: 0 0 0 transparent;
        }
    }
}
