main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
#hrgroup {
    border-bottom: 1px solid black;
    margin: 0;
    padding-block: 1em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.5em;
    margin-block: 0.25em;
}
#file-history {
    display: flex;
    flex-flow: row;
    gap: 1ch;
}
/* inside of hgroup, h1 should be on the left side and file-history-container should be on the right side */
#hrgroup {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
}
#file-history {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

#file-history a {
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    padding: 0.125em 0.5em;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    transition: 0.25s;
}
#file-history a:hover {
    color: #33d;
    font-weight: bold;
    background-color: #eee;
    border-color: #888;
}
// Figure out a way to make the current file bold and not a link
#file-history a[href=""],
#file-history a[href=""]:hover {
   color: black;
   font-weight: bold;
   background-color: #eee;
   border-color: #888;
}
article {
    width: 8in;
    min-width: 8in;
    padding-inline: 0.25in;
}
#outline, #comments {
    min-width: 3in;
    max-width: 3in;
    margin: 0.25in;
    border: 1px dotted magenta;
    // Top should be the height of the header
    top: 1.25in;
    overflow-y: auto;
    /* Hide outline and comments if the screen isn't wide enough to display them */
    @media (max-width: 11.5in) {
        display: none;
    }
}
/* The outline should be fixed, while the comments are absolute. */
#outline {
    position: fixed;
    height: fit-content;
    left: 0;
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* Hide outline and comments if the screen isn't wide enough to display them */
    @media (max-width: 14.5in) {
        display: none;
    }
}
#comments {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Hide outline and comments if the screen isn't wide enough to display them */
@media (max-width: 8in) {
    main {
        display: block;
        width: 100%;
    }
    article {
        width: 100%;
        min-width: unset;
        padding-inline: 0.125in;
    }
}