// The header should be stuck to the top of the screen
// The article should be scrollable vertically but not horizontally

// Use $article-width from layout.scss
@use 'layout' as layout;
$aside-size: 3.5in;
$aside-margin-size: 0.25in;

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    overflow-y: scroll;
    @media print {
        overflow-y: visible;
    }
    height: 100%;
}
#hrgroup {
    border-bottom: 1px solid var(--color-foreground);
    margin: 0;
    padding-block: 1em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.5em;
    margin-block: 0.25em;
}
#file-history {
    display: flex;
    flex-flow: row;
    gap: 1ch;
}
/* inside of hgroup, h1 should be on the left side and file-history-container should be on the right side */
#hrgroup {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
}
#file-history {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

#file-history a {
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-background);
    padding: 0.125em 0.5em;
    border: 1px solid var(--color-component-border);
    border-radius: 0.5em;
    transition: 0.25s;
}
#file-history a:hover {
    color: var(--color-accent);
    font-weight: bold;
    background-color: var(--color-component-background);
}
// Figure out a way to make the current file bold and not a link
#file-history a[href=""],
#file-history a[href=""]:hover {
   color: var(--color-foreground);
   font-weight: bold;
   background-color: var(--color-component-background);
}
article {
    @include layout.article-align;
}
#outline, #comments {
    position: relative;
    min-width: $aside-size;
    width: 100%;
    margin: $aside-margin-size;
    /* Hide outline and comments if the screen isn't wide enough to display them */
    @media (max-width: ($aside-size + $aside-margin-size * 2 + layout.$horizontal-padding * 2 + layout.$article-width)) {
        display: none;
    }
}
#left {
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0.25in;
    left: 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;

    width: $aside-size;
    min-width: $aside-size;
    max-width: $aside-size;
    margin: $aside-margin-size;

    /* Hide outline and comments if the screen isn't wide enough to display them */
    @media (max-width: ($aside-size * 2 + $aside-margin-size * 4 + layout.$horizontal-padding * 2 + layout.$article-width)) {
        display: none;
    }
}
/* The outline should be fixed, while the comments are absolute. */
#outline, #related {
    overflow: clip;
    border: 1px solid var(--color-component-border);
    background-color: var(--color-component-background);
    border-radius: 1.5em;
    width: 100%;
    h2 {
        font-size: 18px;
        margin: 0;
        padding: 0.5em layout.$horizontal-padding;
        border-bottom: 1px solid var(--color-component-border);
    }
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            a {
                // Should be a borderless block that takes up the width of the outline
                display: block;
                padding-block: 0.5em;
                padding-inline: layout.$horizontal-padding;
                text-decoration: none;
                transition: 0.25s;
                border-top: 1px solid var(--color-component-background-hover);
                &:hover {
                    background-color: var(--color-component-background-hover);
                    font-weight: bold;
                }
            }
        }
    }
}

// Comments should be aligned with article
#comments {
    left: 0;
    top: 0;
    height: 100%;
    padding: 0;
    margin-block: 0;
    flex: 0 0 0;
    max-width: ($aside-size * 2);
    
    /* Hide outline and comments if the screen isn't wide enough to display them */
    @media (max-width: ($aside-size * 2 + $aside-margin-size * 4 + layout.$horizontal-padding * 2 + layout.$article-width)) {
        // flex-grow: 1;
        display: none;
    }
}
@media (max-width: 8in) {
    main {
        display: block;
        width: 100%;
    }
}

ul.list-of-cards, ol.list-of-cards {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1em;
    padding: 0;
    list-style: none;
    &>li {
        flex: 1 1 0;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid var(--color-component-border);
        border-radius: 1em;
        background-color: var(--color-component-background);
        transition: 0.25s;
        &:hover {
            background-color: var(--color-component-background-hover);
        }
        a {
            font-size: 16px;
            display: block;
            padding: 1em;
            text-decoration: none;
            color: var(--color-foreground);
            transition: 0.25s;
            &:hover {
                color: var(--color-accent);
                font-weight: bold;
            }
        }
    }
}