$article-width: 8in;
$horizontal-padding: 0.125in;
$threshold-max-width: ($article-width + $horizontal-padding);

* {
    box-sizing: border-box;
}

html {
    --banner-height: 100px;
    @media (max-width: $threshold-max-width) {
        --banner-height: 75px;
    }
    --nav-height: 25px;
    
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

@mixin page-width-container-for-centered-stuff {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

@mixin centered-on-page {
    width: $article-width;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: $threshold-max-width) {
        width: 100%;
        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
    }
}

// Contains the header and content viewport
body {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-foreground);

    @media print {
        overflow: visible;
    }

    header {
        // Header should not show when printing.
        @media print { display: none !important; }

        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: fit-content;

        #banner {
            @include page-width-container-for-centered-stuff;
            height: var(--header-height);
        
            #banner-content {
                @include centered-on-page;
                height: var(--banner-height);

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
        
                overflow-x: hidden;
        
                .header-logo img, #banner-title, #banner-description {
                    display: block;
                }
                
                .header-logo img {        
                    height: var(--banner-height);
                }
            }
        }

        nav {
            @include page-width-container-for-centered-stuff;
            height: var(--nav-height);
    
            ul {
                @include centered-on-page;
    
                margin: 0;
                padding: 0;

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
            }
    
            li a, .dropbtn, #searchbar {
                display: inline-block;
                padding: 3px 10px;
            }
    
            li.dropdown {
                display: inline-block;
            
                &:hover .dropdown-content {
                    display: block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    min-width: 160px;
    
                    a {
                        padding: 1px 8px;
                        margin: 2px 2px;
                        display: block;
                    }
                }
            }
        }
    }
    
    .h1icon {
        height: 64px;
    }
    
    @media (max-width: $threshold-max-width) {
        .card-list {
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    #viewport-with-aside {
        display: flex;
        flex-flow: row nowrap;

        width: 100vw;
        height: 100dvh;
        overflow: hidden;
        @media print {
            overflow: visible;
        }

        aside.document-outline {
            box-sizing: border-box;
            background-color: var(--color-component-background);
            border: 1px solid var(--color-component-border);
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0 1px 7px rgba(0,0,0,0.2);
            $aside-width: 3in;
            width: $aside-width;
            @media (max-width: ($article-width + $aside-width * 2 + 1in)) {
                display: none;
                visibility: collapse;
            }
            @media print {
                display: none;
                visibility: collapse;
            }
            margin: 10px;
            border-radius: 1ch;
            margin-top: calc(var(--banner-height) + var(--nav-height) + 10px);

            h2 {
                margin: 1ch;
            }

            hr {
                border: none;
                border-top: 1px solid var(--color-component-border);
            }

            ul {
                display: flex;
                flex-flow: column;
                padding: 0;
                margin: 0;

                li {
                    list-style: none;

                    a {
                        box-sizing: border-box;
                        display: inline-block;
                        padding: 1ch;
                        width: 100%;
                        font-weight: bold;
                        background-color: transparent;
                        transition: 200ms;
                        &:hover {
                            background-color: var(--color-component-background-hover);
                            transition: 0ms;
                        }
                    }

                    &:not(.outline-depth0) a {
                        padding: 0;
                        padding-left: 2ch;
                        font-weight: normal;
                    }
                }
            }
        }

        #content-viewport {
            @include page-width-container-for-centered-stuff;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            @media (prefers-reduced-motion: reduce) {
                scroll-behavior: unset;
            }
            @media (prefers-reduced-motion: no-preference) {
                scroll-behavior: smooth;
            }
            scroll-padding-top: 22px;
            width: 100vw;

            &::-webkit-scrollbar {
                width: 8px;
                background-color: var(--color-component-border);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--color-foreground);
            }

            @media print {
                overflow: visible;
            }
            
            article {
                @include centered-on-page;
                margin-bottom: 0.5in;

                // A relative element for sticky elements to stick to
                .sticky-sticker {
                    position: relative;
                    inset: 0;

                    .sticky-heading {
                        $widen: 10px;
                        position: sticky;
                        position: -webkit-sticky;
                        top: 0;
                        background-color: var(--color-background);
                        z-index: 1;
                        width: 100%;
                        border-radius: 5px;
                        padding-inline: $widen;
                        margin-inline: ($widen * -1);

                        @media print {
                            border: none;
                            padding-inline: 0;
                            margin-inline: 0;
                        }
                    }
                }
            }

            footer {
                @media print {
                    display: none !important;
                }

                width: 100%;
                height: 1in;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                section {
                    width: fit-content;
                    height: fit-content;
                    padding: 0.5ch 2ch;
                }
            }
        }
    }
}
