$article-width: 7.5in;
$horizontal-padding: 0.125in;

html {
    --banner-height: 100px;
    @media (max-width: ($article-width + $horizontal-padding)) {
        --banner-height: 75px;
    }
    --nav-height: 25px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin page-width-container-for-centered-stuff {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

@mixin centered-on-page {
    width: $article-width;

    @media (max-width: ($article-width + $horizontal-padding)) {
        width: 100%;
        padding: $horizontal-padding;
    }
}

// Contains the header and content viewport
#page-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;

    header {
        // Header should not show when printing.
        @media print { display: none !important; }

        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: fit-content;

        #banner {
            @include page-width-container-for-centered-stuff;
        
            height: var(--header-height);
        
            #banner-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
        
                max-width: $article-width;
                width: $article-width;
                height: var(--banner-height);
                
                overflow-x: hidden;
        
                .header-logo img {
                    display: block;
        
                    height: var(--banner-height);
                }
                
                /* Title */
                #banner-title {
                    display: block;
                }
                /* Description */
                #banner-description {
                    display: block;
                }
            }
        }

        nav {
            @include page-width-container-for-centered-stuff;
            height: var(--nav-height);
    
            ul {
                max-width: $article-width;
                width: $article-width;
    
                margin: 0;
                padding: 0;
    
                overflow: hidden;
                
                li {
                    float: left;
                }
            }
    
            li a, .dropbtn {
                display: inline-block;
                padding: 3px 10px;
            }
    
            li.dropdown {
                display: inline-block;
            
                &:hover .dropdown-content {
                    display: block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    min-width: 160px;
    
                    a {
                        padding: 1px 8px;
                        margin: 2px 2px;
                        display: block;
                    }
                }
            }
        }
    }
    
    .h1icon {
        height: 64px;
    }
    
    @media (max-width: ($article-width + $horizontal-padding)) {
        .card-list {
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    #content-viewport {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        overflow-y: scroll;
        
        /* Link list is the nav links */
        article, #link-list, #banner-content {
            max-width: $article-width;

            @media (max-width: ($article-width + $horizontal-padding)) {
                max-width: 100%;
                padding: 0 $horizontal-padding;
            }
        }

        article {
            padding-bottom: 0.5in;
            
            @media (max-width: ($article-width + $horizontal-padding)) {
                padding-bottom: $horizontal-padding;
            }
        }

        footer {
            width: fit-content;
            height: fit-content;
        }
    }
}
