html {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

a {
    text-decoration: unset;
    color: unset;
}

a.breadcrumb {
    color: var(--color-accent);
    line-height: 2em;
    margin: 0;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4 {
    font-weight: bold;
}

/* Title */
h1 {
    color: darkorange;
    font-size: 25px;
}

h2 {
    font-size: 19px;
}
.update>h2 {
    text-align: center;
    font-size: 17px;
}

h3, h4 {
    font-size: 14px;
}

.redacted {
    display: inline;
    border-radius: 3px;
    transition: 0.5s;
    color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -moz-background-inline-policy: clone;

    &:not(.secret) {
        background-color: #222;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: default;
        
        &:hover {
            border-radius: 1px;
            background-color: var(--color-foreground);
        }

        @media print {
            background-color: #222;
            border-radius: 1px;
            -webkit-print-color-adjust: exact; /*Chrome, Safari */
            color-adjust: exact; /*Firefox*/
        }
    }
    
    /* Read on hover */
    &.secret {
        background-color: #444;

        &:hover {
            border-radius: 3px;
            background-color: rgba(127,127,127,0.2);
            color: var(--color-foreground);
        }

        @media print {
            background-color: #eee;
            color: black;
            margin: 0;
            padding: 0;
        }
    }
}
.redacted-date-group:hover .redacted {
    border-radius: 1px;
    background-color: var(--color-foreground);
}

ul.card-list a, footer a {
    color: darkorange;
    font-weight: bold;
    text-decoration: unset;
    &:visited {
        color: chocolate;
    }
    &:hover {
        text-decoration: underline;
    }
}
ul.card-list li {
    list-style-type: "⬥  ";
}

.jumble {
    font: inherit;
}

.transparent {
    color: transparent;
    @media print {
        color: #fff; // If it's transparent, the printer seems to try printing it as a very light gray
    }
}

@media print {
    .jumble {
        visibility: hidden;
        position: relative;
        &:after {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            content: "???";
        }
    }
    a {
        text-decoration: none !important;
    }

    /* I don't want printed stuff to have shadows */
    * {
        box-shadow: none !important;
        text-shadow: none !important;
    }
}
