---
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import OCPListEntry from '../../components/OCPListEntry.astro';
import type { ICardBase } from '../../scripts/index';
import classes from '../../../public/data/containment-classes.json';
import ArticleSection from '../../components/ArticleSection.astro';
import OutlineAnchor from '../../components/OutlineAnchor.astro';
import PageOutline from '../../components/PageOutline.astro';
import ContainmentClass from '../../components/tooltip-types/ContainmentClass.astro';
const classList: ICardBase[] = classes as ICardBase[];
---
<ArticleLayout title="Containment Classes" name="Containment Classes" desc="OCP Federation Containment Classes">
    <PageOutline slot="outline" list={
        classList.map((item: ICardBase) => { return { name:item.name }})
    }/>
    <ul>
        { classList.map((item: ICardBase) =>
            <OutlineAnchor addClass={["card"]} hash={item.id}>
                <h2><ContainmentClass id={item.id}>{item.name}</ContainmentClass></h2>
                {item.desc}
            </OutlineAnchor>
        )}
    </ul>
</ArticleLayout>
