---
import BannerRecolor from "../../components/BannerRecolor.astro";
import Document from "../../layouts/Document.astro";

---
<Document title="Info" desc="Information about the federation" addKeywords={["info","information"]}>
    <BannerRecolor containmentClass="Info"/>
    <main>
        <article>
            <div id="hrgroup">
                <h1>Information</h1>
            </div>
            <ul class="list-of-cards">
                <li>
                    <a href="/info/containment-classes/">Containment Classes</a>
                </li>
                <li>
                    <a href="/info/containment-sites/">Federation Sites</a>
                </li>
                <li>
                    <a href="/info/task-forces/">Mobile Task Forces</a>
                </li>
            </ul>
        </article>
    </main>
</Document>