---
import BannerRecolor from "../../../components/BannerRecolor.astro";
import Breadcrumbs from "../../../components/Breadcrumbs.astro";
import Document from "../../../layouts/Document.astro";
import { CollectionEntry, getCollection } from 'astro:content';

const classEntries: CollectionEntry<'containment-classes'>[] = await getCollection('containment-classes');
---
<Document title="Containment Classes" desc="Anomaly containment classification list" addKeywords={["containment class","class","category","classification"]} thumb="/thumbnail-info.png">
    <BannerRecolor containmentClass="Info"/>
    <article>
        <Breadcrumbs/>
        <div id="hrgroup">
            <h1>Information</h1>
        </div>
        {classEntries.sort((a,b) => a.data.order - b.data.order).map(entry =>
            <a href={`/info/containment-classes/${entry.slug}/`}>
                <section class="card">
                    <h2><span class={entry.data.name.toLowerCase()}>{entry.data.name}</span></h2>
                    <b>{entry.data.blurb}</b>
                </section>
            </a>
        )}
    </article>
</Document>