---
import Document from '../layouts/Document.astro';
---
<Document title="Home" desc="Obscure, Classify, Preserve">
	<main>
		<article>
			<div id="hrgroup">
				<h1>OCP Federation</h1>
			</div>
			<ul class="list-of-cards">
				<li>
					<a href="/objects/">Object List</a>
				</li>
				<li>
					<a href="/info/">Information</a>
				</li>
				<li>
					<a href="/about/">About</a>
				</li>
			</ul>
		</article>
	</main>
</Document>
