---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
const allObjectPages: CollectionEntry<'objects'>[] = await getCollection('objects');
// Only show the latest version of each object
// Exclude hidden objects
const latestObjectPages: CollectionEntry<'objects'>[] = allObjectPages.filter((item, index, self) => self.findIndex(e => e.data.name === item.data.name) === index && item.data.visibility != 'hidden');
---
<ArticleLayout title="Main" name="Anomaly List" desc="Obscure, Classify, Preserve">
<ul class="card-list">
	{latestObjectPages.map((item) => <li><a href={`objects/${item.slug}`}>{item.data.name}</a> - {item.data.title} ({item.data.category})</li>)}
</ul>
</ArticleLayout>
