---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import OCPListEntry from '../components/OCPListEntry.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
const allObjectPages: CollectionEntry<'objects'>[] = await getCollection('objects');
const latestObjectPages: CollectionEntry<'objects'>[] = allObjectPages.filter(
	e => e.data.version === Math.max(...allObjectPages.filter(e => e.data.name === e.data.name).map(e => e.data.version))
);
---
<ArticleLayout title="Main" name="Anomaly List" desc="Obscure, Classify, Preserve">
<ul class="card-list">
	{latestObjectPages.map((item) => <li><a href={`objects/${item.slug}`}>{item.data.name}</a> - {item.data.title} ({item.data.category})</li>)}
</ul>
</ArticleLayout>
