---
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Document from '../layouts/Document.astro';
---
<Document title="Home" desc="Obscure, Classify, Preserve">
	<article>
		<Breadcrumbs/>
		<div id="hrgroup">
			<h1>Homepage</h1>
		</div>
		<ul class="list-of-cards">
			<li>
				<a href="/objects/">Object List</a>
			</li>
			<li>
				<a href="/info/">Information</a>
			</li>
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/reports/">Files</a>
			</li>
		</ul>
	</article>
</Document>
