---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Document from "../layouts/Document.astro";
---
<Document title="Search" desc="Obscure, Classify, Preserve">
    <article>
        <p><strong>Showing results for: </strong><span id="query-text"><noscript>n/a</noscript></span></p>
        <div class="comment-name">Found <span id="result-count"><noscript>no</noscript></span> results in <span id="result-time"><noscript>n/a seconds</noscript></span>.</div>

        <ul class="card-list" id="search-results"><noscript>Search cannot work if script is disabled.</noscript></ul>

        UNDER CONSTRUCTION
    </article>

    <script>
        import type { PageLink } from "../scripts/search";
        import { queryPages } from "../scripts/search";
        const query = location.search.substring(location.search.indexOf("=")+1);
        document.querySelector("#query-text")!.outerHTML = `&quot;${query}&quot;`;

        const timeStart: number = performance.now();
        const results: PageLink[] = queryPages(query);
        const timeFinish: number = performance.now();
        const searchTime: number = timeFinish - timeStart;
        document.querySelector("#result-count")!.outerHTML = results.length.toString();

        const timeSlot = document.querySelector("#result-time");
        if (searchTime < 1000)
            timeSlot!.outerHTML = searchTime.toFixed(2) + " milliseconds";
        else
            timeSlot!.outerHTML = (searchTime / 1000).toFixed(2) + " seconds";

        document.querySelector("#search-results")!.innerHTML = results.map((e) => `<a href="${e.path}">${e.name}</a> (${e.type})`).join("\n");
    </script>
</Document>
