---
import OutlineAnchor from './OutlineAnchor.astro';

interface Props {
    name: string;
}
const { name } = Astro.props;
const id = name.toLowerCase().replaceAll(" ", "-");
---
<OutlineAnchor hash={id}>
    <a href={"#"+id}><h2 class="sticky-heading">{name}:</h2></a>
    <slot />
</OutlineAnchor>
