---
interface Props {
    name: string;
}
const { name } = Astro.props;
const id = name
    .toLowerCase()
    .replaceAll(" ", "-");
---
<span id={id} class="article-segment-heading" title={name}></span>
<a href={"#"+id}><h2 class="sticky-heading">{name}:</h2></a>
