---
import type { IAuthor } from '../scripts/index';
import { CollectionEntry, getCollection } from 'astro:content';

interface Props {
    authorData: IAuthor
}
const { authorData } = Astro.props;

const authorObjectEntries: CollectionEntry<'objects'>[] = await getCollection('objects', e => e.data.author === authorData.name);
const entryCount = authorObjectEntries.length;
---
<a href={authorData.path}>
    <section class="card author-card">
        <img src={authorData.iconPath} />
        <div class="text">
            <h2>{authorData.name}</h2>
            {entryCount} entries
        </div>
    </section>
</a>
