---
const url = Astro.url;
let trail: string[] = [];
for (let el of url.toString().substring(url.origin.length+1).split('/').filter(p => p.length > 0)) {
    trail.push(el);
}
const getPathBefore = (n: number): string => {
    let path = '';
    for (let i = 0; i <= n; ++i) {
        path += '/' + trail[i];
    }
    return path;
}
---
<div>
    {trail.map((e, i) =>
        <>/ <a class="breadcrumb" href={getPathBefore(i)}>{e}</a> </>
    )}
</div>
