---
const url = Astro.url;
const trail: string[] = url.toString().substring(url.origin.length+1).split('/').filter(p => p.length > 0 && !p.endsWith('.html'));
const getPathBefore = (n: number): string => {
    let path = '';
    for (let i = 0; i <= n; ++i) {
        path += '/' + trail[i];
    }
    return path;
}
---
<div>
    <b><a class="breadcrumb" href="/">OCP Federation</a></b> {trail.map((e, i) =>
        <>&gt; <b><a class="breadcrumb" href={getPathBefore(i)}>{e}</a></b> </>
    )}
</div>
