---
import users from '../../public/data/users.json';
interface UserMap { [key: string]: { pfp: string, username: string } };
const userList: UserMap = users;
const { user } = Astro.props;
const data = userList[user];
---
<span class="user"><img class="icon" alt="profile image" src={data.pfp}/><b set:html={data.username}></b></span>
<span class="context"><slot/></span>