---
interface Props {
    hash: string;
    outlineName: string;
    depth: number;
}
const { hash, outlineName, depth } = Astro.props;
---
<section id={hash} class={"highlight-on-jump show-in-outline outline-depth"+depth} title={outlineName}>
    <slot />
</section>
