---
interface Props {
    hash: string;
    outlineName: string;
    depth: number;
}
const { hash } = Astro.props;
---
<section id={hash} class:list={['highlight-on-jump', 'show-in-outline']}><slot /></section>
