---
interface Props {
    addClass?: string[];
    hash: string;
}
const { addClass = [], hash } = Astro.props;
---
<section id={hash} class:list={['highlight-on-jump', 'show-in-outline', ...addClass]}>
    <slot />
</section>
