---
interface OutlineElement {
    name: string;
    depth?: number;
}
interface Props {
    list?: OutlineElement[];
}
const { list } = Astro.props;
---
{ (list != null) &&
    <aside class="document-outline">
        <h2>Jump to</h2>
        <hr/>
        <ul id="document-outline">
            {
                list.map(({name, depth}) =>
                    <li class={`outline-depth${depth??0}`}><a href={`#${name.toLowerCase().replaceAll(" ","-")}`}>{name}</a></li>
                )
            }
        </ul>
    </aside>
}
