---
interface Props {
    year?: number;
    month?: number;
    day?: number;
    readAs?: string; // What should Aria read it as?
}
const { year, month, day, readAs } = Astro.props;

let yearStr: string|undefined = year?.toString();
if (yearStr) while (yearStr.length < 4) yearStr = "0" + yearStr;

let monthStr: string|undefined = month?.toString();
if (monthStr) while (monthStr.length < 2) monthStr = "0" + monthStr;

let dayStr: string|undefined = day?.toString();
if (dayStr) while (dayStr.length < 2) dayStr = "0" + dayStr;

---
<span aria-label={readAs ?? "redacted date"}>
    <span class="redacted-date-group" aria-hidden="true">
        {yearStr ?? <span class="redacted">0000</span>}|{monthStr ?? <span class="redacted">00</span>}|{dayStr ?? <span class="redacted">00</span>}
    </span>
</span>
