---
interface Props {
    year?: number;
    month?: number;
    day?: number;
}
const { year, month, day } = Astro.props;

let yearStr: string|undefined = year?.toString();
if (yearStr) while (yearStr.length < 4) yearStr = "0" + yearStr;

let monthStr: string|undefined = month?.toString();
if (monthStr) while (monthStr.length < 2) monthStr = "0" + monthStr;

let dayStr: string|undefined = day?.toString();
if (dayStr) while (dayStr.length < 2) dayStr = "0" + dayStr;
---
<span class="redacted-date-group">{yearStr ?? <r>0000</r>}|{monthStr ?? <r>00</r>}|{dayStr ?? <r>00</r>}</span>
