---
import favicon from '/favicon.svg'
---

<header class="header-outer">
    <div class="header-inner">
        <div id="banner">
            <div id="banner-content">
                <a href="/index.html" class="header-logo" style="height:fit-content">
                    <img src={favicon}>
                </a>
                <div id="banner-titlebox">
                    <a id="banner-title" href="/index.html">OCP Federation</a>
                    <div id="banner-description">Obscure, Classify, Preserve</div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul id="link-list">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Info</a>
                <div class="dropdown-content">
                    <a href="./info/containment-classes">Containment Classes</a>
                    <a href="./info/containment-sites">Federation Sites</a>
                    <a href="./info/task-forces">Task Forces</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">About</a>
                <div class="dropdown-content">
                    <a href="./author-list">Authors</a>
                    <a href="./corkboard" style="color:black">Corkboard [WIP]</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
