---
import NavDropdown from './NavDropdown.astro';
import favicon from '/favicon.svg'
---
<header>
    <!-- The colored part spanning the top of the page -->
    <div id="banner">
        <!-- The smaller box containing the name and logo -->
        <div id="banner-content">
            <a href="/index.html" class="header-logo" style="height:fit-content">
                <img src={favicon} alt="Site icon: a padlocked chain with acronym O.C.P.">
            </a>
            <div id="banner-titlebox">
                <a id="banner-title" href="/index.html">OCP Federation</a>
                <span id="banner-description">Obscure, Classify, Preserve</span>
            </div>
        </div>
    </div>
    <!-- The bar containing links to informational pages of the site -->
    <nav>
        <ul id="link-list">
            <NavDropdown name="Info">
                <a href="/info/containment-classes">Containment Classes</a>
                <a href="/info/containment-sites">Federation Sites</a>
                <a href="/info/task-forces">Task Forces</a>
            </NavDropdown>
            <NavDropdown name="About">
                <a href="/author-list">Authors</a>
                <a href="/corkboard" style="color:black">Corkboard [WIP]</a>
            </NavDropdown>
            <li style="width:100%; padding-right:6px">
                <form action="/search.html">
                    <label for="searchbar" style="display: none;">Search</label>
                    <div id="searchbar-holder">
                        <input type="text" autocomplete="off" name="query" id="searchbar" placeholder="Search"/>
                    </div>
                    <input type="submit" style="display: none;"/>
                </form>
            </li>
        </ul>
    </nav>
</header>
