<div class="warning" onclick="this.remove()">
    <span>!!!</span>
    <div>
        <slot/>
        <br/>
        <span style="color:red; font-size:medium">click to dismiss this warning</span>
    </div>
    <span>!!!</span>
</div>