---
import Redacted from '../../components/Redacted.astro';
import Blurred from '../../components/Blurred.astro';
import IncidentReport from '../../components/reports/IncidentReport.astro';
import InterviewLog from '../../components/reports/InterviewLog.astro';
import TestLog from '../../components/reports/TestLog.astro';
import AnomalyEntry from '../../layouts/AnomalyEntry.astro';
import Comment from '../../components/Comment.astro';
import ArticleSegmentHeading from '../../components/ArticleSegmentHeading.astro';
import Tooltip from '../../components/tooltip-types/Tooltip.astro';
import ContainmentSite from '../../components/tooltip-types/ContainmentSite.astro';
import TaskForce from '../../components/tooltip-types/TaskForce.astro';
import Anomaly from '../../components/tooltip-types/Anomaly.astro';

---
<AnomalyEntry url="./objects/000" ocpNumber="000" ocpName="A Website" containmentClass="Verj">
    <ArticleSegmentHeading name="Optimal Containment Protocols" />
        <p><s>OCP-000 is held at <ContainmentSite name="site-03">Site-03</ContainmentSite> in a shoebox.</s></p>
        <p>OCP-000 is to be posted on the OCP site in order to confirm the functional operation of the OCP database. No other protocols are needed at this time.</p>
        <div class="update">
            <h3>UPDATE:</h3>
            <p>In the event of a containment breach involving <Blurred>high casualties</Blurred>, OCP-000 is to be <Redacted>deleted until further notice</Redacted>.</p>
        </div>
        <div class="comment">
            <div class="comment-name">Comment from Dr. <Redacted>Lastname</Redacted>:</div>
            I had no idea there were even containment protocols for documents. Has <Staff name="z5-1">Annie</Staff> lost his mind?
        </div>
        <ArticleSegmentHeading name="Description" />
        <p><Blurred>OCP-000 is a paper document regarding the task force <TaskForce name="mtf-k-nis">K-nis (Bloodhounds)</TaskForce>. Its origin is unknown, as it was never written by any past nor present researcher at the Federation.</Blurred></p>
        <p><Blurred>What is known is that it mentions a hybrid between <Anomaly name="ocp-051">OCP-051</Anomaly> and a hitherto unknown OCP described as a bat.</Blurred></p>
        <p>OCP-000 is a test document uploaded to the OCP wiki as a test to make sure the formatting looks right. It is written in <Redacted>HTML</Redacted> and contains multiple tags.</p>
        
        <ArticleSegmentHeading name="Test Logs" />
        <TestLog item={{
            id: "test-log-000-1",
            objectNumber: "000",
            instance: "1",
        }}>
            <span slot="object">000</span>
            <span slot="researcher">Jr RSR <Redacted>*******</Redacted></span>
            <span slot="goal">Study the object.</span>
            <span slot="procedure">Get a piece of paper and write down what the object does.</span>
            <span slot="results">Failed.</span>
            <span slot="comments">It ate my paper :c</span>
        </TestLog>

        <ArticleSegmentHeading name="Incident Reports" />
        <IncidentReport item={{
            id: "incident-report-000-1",
            objectNumber: "000",
            instance: "1"}}>
            <span slot="incidentType">Containment Breach</span>
            <span slot="location">Site-20</span>
            <span slot="object">000</span>
            <span slot="description">
                We have absolutely no idea what happened.
            </span>
            <span slot="witnessExplanation">
                ...So I'm sitting there, <Redacted>mustard on my titties</Redacted>, when this <Blurred>document</Blurred>
                jumps me and starts emptying my pockets of all my candy wrappers! I have no <Blurred>bloody</Blurred> clue why.
                Frankly, I don't even remember putting any candy wrappers in my pockets, but it was managing to pull them out anyway.
                I didn't wany those wrappers or anything, they're just trash, but I definitely didn't want it GETTING them so I started grabbing for em myself!
                That's when
                <Comment>
                    <span slot="name">Note from Sr RSR <Redacted>Lastname</Redacted>:</span>
                    At this moment, the witness started screming and pointing at an empty corner of the room.
                    A security officer was asked to examine the space. Within moments, the guard vanished into a cloud of black smoke.
                    His next of kin were told the cause of death was smoke inhalation followed by spontaneous physical dissolvement.
                    <br><br>
                    For the record, can we please not let the interns write the cover stories anymore?
                </Comment>
            </span>
            <span slot="followup">
                A janitor put a wet floor sign by the corner of the room.
            </span>
        </IncidentReport>

        <ArticleSegmentHeading name="Interview Logs" />
        <InterviewLog item={{
            id: "interview-log-000-1",
            objectNumber: "000",
            instance: "1",
            interview: {
                members:[
                    {name: "Interviewer", color: "#840"},
                    {name: "Subject", color: "#900"}
                ],
                body:[
                    { speaker: 0, content: "Why are you hostile?" },
                    { content: "various growls and vocalizations of grumpiness" },
                    { speaker: 0, content: "Please calm down. There is no need for hostility." },
                    { speaker: 1, content: "<Redacted>I'm going to eat your lunch money and then fold your laundry with my baby hands</Redacted>" },
                    { content: "interviewer is silent" },
                    { speaker: 0, content: "I think we're done here." }
                ]
            }
        }}>
            <span slot="interviewerName">Jr RSR <Redacted>*******</Redacted></span>
            <span slot="subjectName">OCP-000</span>
            <span slot="topic">Reason for hostility</span>
            <span slot="notes">
                I'm pretending to write something down
                <br><br>
                blah blah blah blah
                <br><br>
                Are they still watching?
                <br><br>
                This <Redacted>thing</Redacted> freaks me out. I don't wanna have to work with it anymore.
                I'm gonna say in my log that it ate my notes. Maybe then I won't have to go near this thing anymore...
            </span>
        </InterviewLog>
</AnomalyEntry>
