---
import Meta from '../components/Meta.astro';
import PageOutline from '../components/PageOutline.astro';
import SiteHeader from '../components/SiteHeader.astro';

interface Props {
  url: string;
  title: string;
  name?: string;
  desc: string;
}
const { url, title, name = title, desc } = Astro.props;
---
<html lang="en" class="light">
  <head>
    <Meta title={title} url={url} desc={desc} />
  </head>
  <body>
    <SiteHeader />
    <div id="viewport-with-aside">
      <PageOutline />

      <div id="content-viewport">

        <article>
          <h1>{name}</h1>
          <hr>
          <slot />
          <footer>
            <slot name="footer"></slot>
          </footer>
        </article>

      </div>
    </div>
  </body>
</html>