---
import BaseLayout from './BaseLayout.astro';
interface Props {
  url: string;
  title: string;
  name?: string;
  desc: string;
}
const { url, title, name = title, desc } = Astro.props;
---
<BaseLayout url={url} title={title} desc={desc}>
    <article>
      <h1>{name}</h1>
      <hr>
      <slot />
    </article>
</BaseLayout>
