---
import Meta from '../components/Meta.astro';
interface Props {
  url: string;
  title: string;
  desc: string;
}
const { url, title, desc } = Astro.props
---
<html lang="en">
  <head>
    <Meta title={title} url={url} desc={desc} />
  </head>
  <body>
    <slot />
  </body>
</html>