---
import Meta from '../components/Meta.astro';
import SiteHeader from '../components/SiteHeader.astro'
interface Props {
  title: string;
  desc: string;
}
const { title, desc } = Astro.props
---
<html lang="en" class="theme-default">

  <script>
    import { loadTheme } from '../scripts/themeset';
    loadTheme();
  </script>

  <head>
    <Meta title={title} desc={desc} />
  </head>
  <body>
    <SiteHeader />
    <div id="content-viewport">
      <slot />
    </div>
  </body>
</html>