---
import '../styles/document.scss';
import Meta from '../components/Meta.astro';
import SiteHeader from '../components/SiteHeader.astro'
interface Props {
  title: string;
  desc: string;
  addKeywords?: string[];
  thumb?: string;
}
const { title, desc, addKeywords, thumb } = Astro.props
---
<html lang="en">
  <head>
    <Meta title={title} desc={desc} addKeywords={addKeywords} thumb={thumb} />
  </head>
  <body>
    <SiteHeader />
    <main>
      <slot />
    </main>
  </body>
</html>