---
import '../styles/document.scss';
import Meta from '../components/Meta.astro';
import SiteHeader from '../components/SiteHeader.astro'
interface Props {
  title: string;
  desc: string;
  addKeywords?: string[];
}
const { title, desc, addKeywords } = Astro.props
---
<html lang="en">
  <head>
    <Meta title={title} desc={desc} addKeywords={addKeywords} />
  </head>
  <body>
    <SiteHeader />
    <slot />
  </body>
</html>